<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>BPS Auction</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    {% block login-header %}
    <header>
        <ul>
            <li><a href="/"><img src="{% static 'images/home.svg' %}"></a></li>
        {% if user.is_authenticated %}
            <li><a href="/bidding/userpage"><img src="{% static 'images/user.svg' %}"></a></li>
            <li><a href="{% url 'logout' %}?next={{request.path}}">Log out</a></li>
        </ul>
            <p>You are logged in as {{user.first_name}} {{user.last_name}}.</p>
        {% else %}
            <li><a href="{% url 'login' %}?next={{request.path}}">Log in to bid</a></li>
        </ul>
        {% endif %}
    </header>
    {% endblock %}
    
    
    <main>
        {% block content %}<!-- default content text (typically empty) -->{% endblock %}
    </main>
</body>
</html>