{% extends "base_generic.html" %}

{% block content %}
    <h1 id="main-title"> Welcome to the BPS Auction</h1>
    
    {% load static %}
    <img src="{% static 'images/BPS.png' %}">

    <p>Browse the list or enter an item number directly.</p>
        <form id="item-selector" action="" method="post">
            {% csrf_token %}
            <table>
                {{ form }}                
            </table>
            <input type="submit" value="Go" />
        </form>
    

  {% if auctionitem_list %}
    <table>
        <tbody>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th>Current Bid</th>
            </tr>
        
        {% for item in auctionitem_list %}
        <tr>
            <td>{{item.item_number}}</td>
            <td><a href="{{item.get_absolute_url}}">{{item.name}}</a></td>
            <td>${{item.high_bid}}</td>
        </tr>
        {% endfor %}
        
        </tbody>    
    </table>

    {% else %}
        <P>There are no items currently up for bid.</P>
    {% endif %}

{% endblock %}