{% extends "base_generic.html" %}

{% block title %}{{user.first_name}} {{user.last_name}}{% endblock %}

{% block content %}

    <h1>{{user.first_name}} {{user.last_name}}</h1>

    
    {% if high_bids %}
        
        {% if bidding_closed %}
        <h2 class="success">Congratulations! You have the winning bid on these items:</h2>
        {% else %}
        <h2>You are the leading bidder on these items:</h2>
        {% endif %}

        <table>
        <tbody>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th>Current Bid</th>
            </tr>
        
        {% for item in high_bids %}
        <tr>
            <td>{{item.item_number}}</td>
            <td><a href="{{item.get_absolute_url}}">{{item.name}}</a></td>
            <td>${{item.high_bid}}</td>
        </tr>
        {% endfor %}
        
        <tr class="total-bid">
            <td colspan="2">Total bid:</td>
            <td>${{total_bid}}</td>
        </tr>
            
        </tbody>    
        </table>
        
        {% if bidding_closed %}
        <a id="payment-button" href="">Submit Payment</a>
        {% endif %}

    {% else %}
        <p>You are not the leading bidder on any items.</p>
        
    {% endif %}

    {% if out_bids %}
        <div id="outbids">
        <h4>You have been outbid on these items:</h4>
        
        <table>
        <tbody>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th>Your Bid</th>
                <th>Current Bid</th>
            </tr>
        
        {% for bid in out_bids %}
            <tr>
                <td>{{bid.item.item_number}}</td>
                <td><a href="{{bid.item.get_absolute_url}}">{{bid.item.name}}</a></td>
                <td class="losing-bid">${{bid.amount}}</td>
                <td>${{bid.item.high_bid}}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
    {% endif %}

{% endblock %}